.App {
}
body {
  background-color: #f2f3f6;
}
.header {
  background-color: #ffffff;
}
.logo {
  margin: 10px 0px 10px 0px;
}

.cat-col {
  background-color: #f2f3f6;
  width: 33.3%;
  height: 45px;
  border-bottom: 2px black !important;
}
.cat-col:hover {
  background-color: #ffffff;
}
.card {
  width: 250px !important;
}
.cl {
  margin-left: 5%;
}
.sel {
  font-size: 15px;
}
.opt {
  font-size: 15px !important;
}
.opt-2 {
  font-size: 15px !important;
}
.form-sel {
  border-bottom: 1px solid #e9e9f0;
  width: 100% !important;
}
.price-sel {
  width: 35% !important;
}
.prod-img {
  width: 182px;
  height: 144px;
  border-radius: 10px;
  margin: 1.5% 1.5% 1.5% 1.5%;
}
.prod-car {
  background-color: #ffffff;
  margin-bottom: 2%;
  margin-left: 2%;
  border-radius: 20px;
}
.title {
  margin-top: 1.5%;
  width: 50%;
}
.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.skel-title {
  width: 70%;
  height: 0.7rem;
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
}
.skel-img {
  width: 182px;
  height: 144px;
  border-radius: 10px;
  margin: 1.5% 1.5% 1.5% 1.5%;
}
.total {
  font-size: 16px !important;
  width: 20%;
  font-weight: 400 !important;
  /* font-style: normal; */
  margin-left: 3%;
  /* font-family: "ge"; */

  /* margin-top: 1%;
  margin-bottom: 2%; */
}
.filter {
  height: 40px;
  margin-top: 1%;
  margin-bottom: 2%;
}
.opt3 {
  background-color: #ffffff !important;
}

.btn-secondary {
  background-color: #ffffff !important;
  color: #454857 !important;
  border: 0px !important;
  font-family: "ge" !important;
}
.year {
  margin-left: 1.5%;
  margin-top: 0.3%;
  color: #8c929b;
  font-family: "ge";
  /* font-size: 1.3rem; */
}

.page-item .page-link {
  background-color: #ffffff;
  border: 0px;
  color: #caced4;
}
.pagination {
  --bs-pagination-color: #fd4100 !important;
  --bs-pagination-hover-color: #caced4 !important;
  --bs-pagination-disabled-bg: #ffffff !important;
  --bs-pagination-disabled-color: #ffffff !important;
  --bs-pagination-focus-bg: #ffffff;
  margin: 0% 0% 2% 0%;
  font-size: 19px !important;
  /* height: 2rem; */
}
.active > .page-link,
.page-link.active {
  background-color: #ffffff !important;
  color: #fd4100 !important;
}
.pagination
  > .page-item:nth-last-child(-n + 2)
  .page-link:nth-last-child(-n + 2) {
  color: #f80505 !important;
}
.pagination > .page-item:nth-child(-n + 2) .page-link:nth-child(-n + 2) {
  color: #f80505 !important;
}
.disabled {
  visibility: hidden !important;
}
.pgntion {
  /* width: 100%; */
  background-color: #ffffff;
  margin-left: 2%;
  border-radius: 8px;
}

.br {
  /* margin-left: 8%; */
  border: 1px solid #eef0f3;
  border-radius: 5px;
  width: 80% !important;
}
.br2 {
  border: 1px solid #eef0f3;
  border-radius: 5px;
  max-width: 80% !important;
  /* overflow-y: auto; */
  max-height: 400px !important;
}
.br2 > .dropdown-menu {
  height: auto;
  max-height: 200px;
  overflow-y: scroll;
}
.br > .dropdown-menu {
  width: 100% !important;
}
.br > .dropdown-toggle {
  width: 100%;
}
.search {
  background-color: #fd4100 !important;
  color: #ffffff;
  font-family: "ge";
  font-size: 100% !important;
  height: 50%;
  color: #ffffff !important;
}
.s-btn {
  height: 100px !important;
}
.search:hover {
  background-color: #d43601 !important;
}
