.App {
}
body {
  background-color: #f2f3f6;
}
.header {
  background-color: #ffffff;
}
.logo {
  margin: 10px 0px 10px 0px;
}

.cat-col {
  background-color: #f2f3f6;
  width: 33.3%;
  height: 45px;
  border-bottom: 2px black !important;
}
.cat-col:hover {
  background-color: #ffffff;
}
.card {
  width: 250px !important;
  position: sticky !important;
  top: 3%;
}

.cl {
  margin-left: 5%;
}
.sel {
  font-size: 15px;
}
.opt {
  font-size: 15px !important;
}
.opt-2 {
  font-size: 15px !important;
}
.form-sel {
  border-bottom: 1px solid #e9e9f0;
  width: 100% !important;
}
.price-sel {
  width: 35% !important;
}
.prod-img {
  width: 182px;
  height: 144px;
  border-radius: 10px;
  margin: 1.5% 1.5% 1.5% 1.5%;
}
.prod-car {
  background-color: #ffffff;
  margin-bottom: 2%;
  margin-left: 2%;
  border-radius: 20px;
}
.title {
  margin-top: 1.5%;
  width: 50%;
}
.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.skel-title {
  width: 70%;
  height: 0.7rem;
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
}
.skel-img {
  width: 182px;
  height: 144px;
  border-radius: 10px;
  margin: 1.5% 1.5% 1.5% 1.5%;
}
.total {
  font-size: 16px !important;
  width: 20%;
  font-weight: 400 !important;
  /* font-style: normal; */
  margin-left: 3%;
  /* font-family: "ge"; */

  /* margin-top: 1%;
  margin-bottom: 2%; */
}
.filter {
  height: 40px;
  margin-top: 1%;
  margin-bottom: 2%;
}
.opt-3 {
  background-color: #ffffff !important;
  border-radius: 5px;
}

.btn-secondary {
  background-color: #ffffff !important;
  color: #454857 !important;
  border: 0px !important;
  font-family: "ge" !important;
}
.year {
  margin-left: 1.5%;
  margin-top: 0.3%;
  color: #8c929b;
  font-family: "ge";
  /* font-size: 1.3rem; */
}

.page-item .page-link {
  background-color: #ffffff;
  border: 0px;
  color: #caced4;
}
.pagination {
  --bs-pagination-color: #fd4100 !important;
  --bs-pagination-hover-color: #caced4 !important;
  --bs-pagination-disabled-bg: #ffffff !important;
  --bs-pagination-disabled-color: #ffffff !important;
  --bs-pagination-focus-bg: #ffffff;
  margin: 0% 0% 2% 0%;
  font-size: 19px !important;
  /* height: 2rem; */
}
.active > .page-link,
.page-link.active {
  background-color: #ffffff !important;
  color: #fd4100 !important;
}
.pagination
  > .page-item:nth-last-child(-n + 2)
  .page-link:nth-last-child(-n + 2) {
  color: #f80505 !important;
}
.pagination:focus {
  --bs-pagination-focus-color: #fd4100 !important;
}
.pagination > .page-item:nth-child(-n + 2) .page-link:nth-child(-n + 2) {
  color: #f80505 !important;
}
.disabled {
  visibility: hidden !important;
}
.pgntion {
  /* width: 100%; */
  background-color: #ffffff;
  margin-left: 2%;
  border-radius: 8px;
}

.br {
  width: 80% !important;
}
.br2 {
  min-width: 80% !important;
}

.br > .dropdown-menu {
  width: 126% !important;
}

.br > .dropdown-toggle:after,
.br2 > .dropdown-toggle:after {
  visibility: hidden;
}
.br2-button {
  border: 0px !important;
}
.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  border: 5px #ffffff !important;
}
.br2- {
  border: 5px #ffffff !important;
}
.search {
  background-color: #fd4100 !important;
  color: #ffffff;
  font-family: "ge";
  font-size: 100% !important;
  height: 50%;
  color: #ffffff !important;
}
.s-btn {
  height: 100px !important;
  background-color: #ffffff !important;
  width: 100% !important;
  border-bottom-right-radius: 5%;
  border-bottom-left-radius: 5%;
  /*border-right: 1px solid #d2d2d2;
  border-left: 1px solid #d2d2d2; */
  /* margin-top: 3%; */
}
.search:hover {
  background-color: #d43601 !important;
}

.switch-button {
  border-radius: 50px;
  width: 60px;
  height: 30px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.switch-button.active {
  background-color: #28a745;
}

.icon {
  margin-left: 5px;
}
.pr {
  margin-left: 12%;
}
.gel > label,
.gel > label:active {
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px !important;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.swt {
  border: 1px solid #e2e5eb;
  border-radius: 40% !important;
  margin-bottom: 15%;
}
.gel {
  --bs-btn-active-bg: #272a37 !important;
  --bs-btn-bg: #ffffff !important;
}
.usd {
  --bs-btn-active-bg: #272a37 !important;
  --bs-btn-bg: #ffffff !important;
}
.sw-col {
  margin-right: 12%;
}
.align-middle {
  display: flex;
  align-items: center;
}
.custom_passed {
  color: #26b753;
  font-size: 90%;
  margin-top: 7% !important;
}
.custom_not {
  color: #ff3b30;
  font-size: 90%;
  margin-top: 7% !important;
}
.dr > .dropdown-toggle:after {
  visibility: hidden !important;
  /* margin-left: 50px !important; */
}
.dv {
  border: 1px solid #eef1f4;
  border-radius: 5px;
  width: 80%;
}

.dr2 {
  max-width: 100% !important;
  min-width: 100% !important;
  max-height: 400px !important;
}
.txt {
  margin-left: -1% !important;
  font-weight: 100;
  color: #8c929b;
}

.chevron {
  margin-right: -5000% !important;
  width: 7%;
  color: #8c929b;
}
.form-check-input:checked {
  background-color: #fd4100 !important;
  border-color: #fd4100 !important;
}
.form-check-input {
  margin-left: 1% !important;
  margin-right: 5% !important;
}
.scr.dropdown-menu.show {
  width: 110% !important;
  overflow-y: scroll;
  max-height: 200px;
}
.char-limit {
  width: 100%;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
}
.price-txt {
  color: #767880;
  font-size: 90%;
  margin-right: 1% !important;
}
.row-1 {
  width: 100%;
}
.gel-2,
.usd-2 {
  --bs-btn-active-bg: #272a37 !important;
  --bs-btn-bg: #ffffff !important;
  --bs-btn-active-hover-bg: #272a37 !important;
}
.gel-2:checked,
.usd-2:checked {
  --bs-btn-active-bg: #272a37 !important;
  --bs-btn-bg: #272a37 !important;
  --bs-btn-active-hover-bg: #272a37 !important;
}
.price-icon {
  width: 35px !important;
  height: 30px !important;
  margin-left: 5%;
}
.flag {
  margin-right: -50px !important;
}
.dest {
  color: #6f7383;
  font-size: 90%;
}
.vol {
  color: #6f7383;
  font-size: 100%;
}
.run {
  color: #6f7383;
  font-size: 100%;
}
.cont-2 {
  margin-top: 2% !important;
}
.pr {
  margin-right: 2.5%;
}
.date {
  font-size: 90%;
  width: 100% !important;
}
.cont-3 {
  margin-top: 2% !important;
  width: 150% !important;
}
.oval {
  margin-left: 1.5%;
  width: 0.5%;
}
.time {
  margin-left: 1%;
  color: #6f7383;
  font-family: "ge";
}
.view {
  color: #6f7383;
  margin-left: 5%;
  font-family: "ge";
}
.gear {
  margin-left: 5%;
}
.eng {
  margin-left: 5%;
}
.vector {
  margin-top: 2%;
  width: 3% !important;
}
.shape {
  margin-top: 2%;
  margin-left: 2%;
}
.heart {
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 3%;
}
.cat-col {
  border-radius: 0px !important;
  background-color: #eef0f3 !important;
  --bs-btn-active-bg: #eef0f3 !important;
}
.cat-col:checked {
  border: 5px solid #fd4100 !important;
}
.typ {
  min-width: 119% !important;
  margin-left: -3.8%;
}
.types {
  width: 89.8%;
}
.coll-1 {
  border-top-left-radius: 5px !important;
}
.coll-3 {
  border-top-right-radius: 5px !important;
}
.cat-col.btn-check:checked .cat-col.btn,
.cat-col.btn.active,
.cat-col.btn.show {
  border-bottom: 2px solid #fd4100 !important;
  background-color: #ffffff !important;
}
.cont {
  min-width: 80% !important;
  margin-top: 7%;
}
.loading > .prod-car {
  margin-top: 1%;
  margin-left: 15% !important;
  width: 70%;
}
